.movie-details{
    display: flex;
    gap: 40px;
}
.movie-details img{
    width: 500px;
    height: 600px;
}
.movie-description{
    display: flex;
    flex-direction: column;
gap: 50px;
position: relative;
}
.movie-description a{
    text-decoration: none;
    position: absolute;
    bottom: 0;
    right: 0;
    color: rgb(215, 151, 98);
}
.movie-description h1{
    font-size: 2.5rem;
    color:  rgb(249, 211, 180) ;
}
.movie-description p{
    font-size: 18px;
  color: #6e6b6b;
  
}